body{
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-bold";
}
p{
  color: #8f8f8f;
}
   /*Headings*/

.big-heading{
  font-family: 'Montserrat-bold', sans-serif;
  line-height: 1;
  font-size: 3.5rem;
  size: 100%;
  color: white;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.feature-heading{
  font-size: 1.5rem;
}
   /*Section*/
.colored-section{
  background-color:#ff4c68;
  padding: 3% 15%;

}
.white-section{
  background-color: #fff;
}
  /*container*/
.container-fluid{
  padding: 3% 15% 13%;
}

  /*Navigation bar*/

.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.navbar{
  height: 100px;
}
.navbar-brand{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  height: 1rem;

}
.nav-link{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size:1.2rem;
}
/*Download-button*/

.download-button{
  margin: 5% 3% 5% 0;
  padding: 10%;
}

 /*title-image*/
.title-image{
  width:60%;
  transform: rotate(25deg);
  padding-right: 10px;
  position: absolute;
  right:30%;
}
/*features*/
#features{
  padding: 5% 15%;
  background-color: #fff;
  position: relative;
  z-index:1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
/* Feature icon*/
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
   /*Testimonials*/
#testimonials{
  padding: 3% 15%;
  text-align: center;
}

.testimonial-image{
  border-radius:100%;
  width:10%;
  margin: 20px;
}
/*press*/
#press{
  text-align: center;
  padding-bottom: 20px;
}
.press-logo{
  width:10%;
}
.carousel{
  padding:7% 15%;
}
   /*Pricing*/

#pricing{
  padding:5%;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
/* CTA section*/
#cta{
  text-align: center;
  padding: 3% 15%;
  font-family: 'Montserrat', sans-serif;
}
/*footer*/
.footer-text{
  padding-bottom: 20px;
  color: #fff;
}
.footer-button{
  font-family: 'Montserrat-bold', sans-serif;
  margin: 5% 3% 5% 0;
}
#footer{
  text-align: center;
  padding: 7% 15% 0;
}
.end-icon{
  margin:10px;
}

  /*media query*/
@media(max-width:1028px){
  .title{
    text-align: center;
  }
 .title-image{
   position: static;
   transform: rotate(0);
 }
}
